*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.m10v{
    margin: 10px auto;
}
.m20v{
    margin: 20px auto;
}
.m30v{
    margin: 30px auto;
}
.m40v{
    margin: 40px auto;
}

body{
    font-family: sans-serif;
    height: 100vh;
}

main{
    height: calc(100vh - 5rem);
    display: flex;
}

nav{
    width: 35%;
    background-color: rgb(0, 0, 0);
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}

.nav_elements{
    height: 30%;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    
    
    
}

.nav_menu a {
    text-decoration: none;
    color: grey;
    padding-left: 1rem;
    margin-bottom:0.8rem;

}

.nav_menu {
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    
}

.nav_elements img{
    width: 50%;
    margin: 1rem;
    
}

.playlist{
    height: 50%;
    color:grey;
    margin:1rem;
    display: flex;
    flex-direction: column;
    
      
}

.playlist i{
    margin:0.5rem 1rem;
    font-size: 3rem;
    text-indent: -1rem;
}
.playlist h2{
    color:white
}

.playlist h3{
    display: flex;
    align-items: center;
    font-weight: 400;
}

.overflow{
    height: 70%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.overflow h4{
    margin:0.5rem 0;
    font-weight: 400;
}

.bottom_nav {
    color:white;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end ; 
    
}

.bottom_nav h4{
    margin: 0.5rem 1rem;
    font-weight: 400;
    font-size: 14px;
    color:grey
}

.bottom_nav h2{
    color:white;
    margin: 1rem;
    font-size: 16px;
}

.bottom_nav hr{
    color:grey;
    margin:0 1rem;
}

.xs{
    display: none;
}

.browser{
    background-color: rgb(20, 25, 34);
    width: 65%;
    height: 100%;
}

.banner {
    background-color: rgb(14, 17, 23);
    height: 4rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.banner a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    border: solid 2px white;
    padding: 0.3rem 0.8rem;
    margin-right:0.3rem ;
    border-radius: 30px ;
}

.categories {
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.categories a{
    width: 30%;
    text-decoration: none;
    color:gray;
    padding: 0.5rem;
    font-size: 12px;

}

.content {
    height: calc(100% - 6rem);
    overflow: auto;
}

.content-row {
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 50%;
    text-align: center;
    min-height: 20vh;
}

.round{
    border-radius: 50%;

}

.content-row h2{
    width: 100%;
    margin: 1rem 2.5%;
    color:white;

}
.card h4{
    margin:0.2rem auto;
    color:white;

}

.card h5{
    margin: 0.3rem auto;
    color: grey;
}
.card img{
    width:90%
}

footer{
    height: 5rem;
    background-color: #282828;
    display: flex;
    justify-content: space-around;
       
}

footer i {
    font-size: 0.9rem;
}

.feature{
    width: 33%;
    
    
}


.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(121, 121, 121)
}

.left img {
    height: 70%;
    padding: 5px;
}

.fltext{
    margin: 0.5vw;
    
}

.fltext h4{
    color: white;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white}

.center_high{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.center_bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.timer{
    width: 40%;
}

.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white
}

.right i {
    margin: 0.5vw;
}

.timer{
    width: 90%;
}

.volume{
    width: 40%;
}

/* xs */
@media screen and (max-width:576px){
    nav{
        width: 7%;
        justify-content: space-between;
    }
    .browser{
        width: 93%;
    }
    .wide{
        display:none
    }
    .xs{
        display: flex;
        color:white
    }

    .nav_elements .xs{
        align-self: flex-end;
    }
}


/* tablet */
@media screen and (min-width:768px){

    nav{
        width: 25%;
        
    }
    .browser{
        width: 75%;
    }
   
    .card{
        width: 25%;
    }
}

/* desktop */
@media screen and (min-width:992px) {

    nav{
        width: 20%;
    }
    .browser{
        width: 80%;
    }

    .card {
        width: calc(100%/6);
    }  
   
}

